@import '../../commonStyle';

* {
    padding: 0px;
    margin: 0px;
}

.Wrapper {
    height: 100%;
    width: 100vw;
    min-width: 100%;
}

.ProfileWraper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5% 0px;
    height: 50vh;
    transform: translateY(50px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    .Intro {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;

        >span:first-child {
            font-size: 40px;
            font-weight: 500;
            text-align: right;
        }

        >span {
            font-size: 40px;
            font-weight: 500;
            text-align: right;
            >span{
                font-size: 60px;
                font-weight: 500;
                color: $theme-color;
                text-align: right;
            }
        }

        >hr {
            width: 120px;
            height: 5px;
            background: $theme-color;
            border: none;
            border-radius: 3px;
            margin: 3% 0px 5% 0px;
        }

        .typewriter {
            display: inline-block;
            overflow: hidden;
            font-size: 24px;
            font-weight: 500;
            white-space: nowrap;
            min-height: 1.6em;
            vertical-align: bottom;
            margin-top: 3px;
            // min-width: 22vw;
            text-align: right;
        }

        .Cursor {
            height: 1.5em;
            font-size: 1em;
            font-weight: 300;
            animation: blink-caret .75s step-end infinite
        }

        @keyframes blink-caret {

            from,
            to {
                opacity: 0
            }

            50% {
                opacity: 1
            }
        }
    }

    .ProfilePictureContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 30%;

        .ProfilePicture {
            height: 300px;
            width: 300px;
            object-fit: cover;
            border-radius: 150px;
            overflow: hidden;
            border: 3px dashed $theme-color;
        }
    }
}
.FadeYIn{
    transform: translateY(0px);
    opacity: 1;
}

.ScrollDownButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: sticky;
    // top: 60px;
    .ScrollDownButton {
        height: 50px;
        width: 30px;
        border-radius: 20px;
        border: 2px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0px;
        margin: 2% 0px;
        cursor: pointer;
        .innerButton {
            transform: translateY(0px);
            animation: fluctuateButton 3s infinite;
            height: 20px;
            width: 20px;
            border-radius: 10px;
            // background: $theme-color;
        }
        @keyframes fluctuateButton {
            from,
            to{
                transform: translateY(0px);
            }
            50% {
                transform: translateY(30px);
            }
        }
    }

}


@media (max-width:1000px){
    .ProfileWraper{
        .Intro {
            >span:first-child {
                font-size: 30px;
            }
    
            >span {
                font-size: 30px;
                >span{
                    font-size: 50px;
                }
            }
    
            >hr {
                width: 100px;
                margin: 3% 0px 5% 0px;
            }
    
            .typewriter {
                font-size: 18px;
                font-weight: 500;
                min-height: 1.2em;
            }
    
            .Cursor {
                height: 1.2em;
            }
        }
    
        .ProfilePictureContainer {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 30%;
    
            .ProfilePicture {
                height: 250px;
                width: 250px;
            }
        }
    }
}

@media (max-width:650px){
    .ProfileWraper{
        flex-direction: column-reverse;
        margin-top: 5%;
        .Intro {
            margin-top: 5%;
            align-items: center;
            >span:first-child {
                font-size: 24px;
                text-align: center;
            }
    
            >span:nth-child(2) {
                font-size: 24px;
                width: 75vw;
                text-align: center;
                >span{
                    font-size: 40px;
                    text-align: center;
                }
            }
    
            >hr {
                
                width: 100px;
                margin: 1% 0px 10% 0px;
            }
    
            .Cursor {
                height: 1.2em;
            }
        }
    
        .ProfilePictureContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30%;
    
            .ProfilePicture {
                height: 150px;
                width: 150px;
            }
        }
    }
    .ScrollDownButtonContainer {
        margin-top: 10%;
        margin-bottom: 5%;
        .ScrollDownButton {
            height: 30px;
            width: 20px;
            border-radius: 15px;
            .innerButton {
                height: 12px;
                width: 12px;
                border-radius: 10px;
                // background: $theme-color;
            }
            @keyframes fluctuateButton {
                from,
                to{
                    transform: translateY(0px);
                }
                50% {
                    transform: translateY(18px);
                }
            }
        }
    
    }
}

@media (max-width:350px){
    .ScrollDownButtonContainer{
        display: none;
    }
    .ProfileWraper{
        .Intro {
            >span:first-child {
                font-size: 20px;
            }
    
            >span:nth-child(2) {
                font-size: 20px;
                >span{
                    font-size: 30px;
                }
            }
            >hr {
                width: 50px;
                height: 3px;
                border-radius: 1.5px;
                margin: 3% 0px 5% 0px;
            }
            .typewriter {
                font-size: 16px;
            }
            .Cursor {
                height: 1.2em;
            }
        }
    
        .ProfilePictureContainer {
    
            .ProfilePicture {
                height: 150px;
                width: 150px;
            }
        }
    }
}

// @media (max-width:300px){
//     .Wrapper {
//         // height: 100%;
//         width: 100%;
//     }
// }